.drill {
  position:absolute;
  left:68.6%;
  top:25.4%;
  color:white;
  font-size: 23px;
}

.level {
  position:absolute;
  top:19.5%;
  left:64.7%;
  color:white;
  font-size: 22px;
}

.p5Canvas {
  position: absolute;
  top: 8%;
  left:13%;
}

.direction {
  font-size: 18px;
  color:white;
  position: absolute;
  top:20%;
  left:57.5%;
}

body {
  background-color: black !important;

}
