
body{
  font-family: 'Press Start 2P', cursive;
  background-color: black !important;
}

/* .button {
  text-align: center;
  position: relative;
} */


/* .nes-icon {
    position:relative !important;
    top: 205px !important;
    left: 763px !important;
    transform: scale(1.6) !important;
} */

.yes {
position: relative;
background-color: black;
border-color: white;
border: 6px;
border-style: outset;
color: white;
padding: 12px 28px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
position:relative;
z-index: 9999;
transition: background-color 0.15s;
transform: translate(-360px, 55px);
}

.yes:hover {
background-color: rgb(230,230,230);
border-color: lightgrey;
color: black;
text-decoration:none;
}

.window {
  position: relative;
  top:70px;
  left:28%;
}




.hidden {
  opacity:0;
}
.console-container {

  font-family:'Press Start 2P', cursive;
  font-size:20px;
  text-align:center;
  height:300px;
  width:500px;
  display:block;
  position:absolute;
  color:white;
  top:310px;
  left: calc(50% - 250px);
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
